@model P2_2020GG602_2020SM602_2020ML601.Models.generos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>generos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.generotipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.generotipo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.idgenero">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
